.form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

legend {
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
}

.required::after {
    content: "*";
    color: red;
}

textarea {
    resize: none;
    width: 300px;
    height: 150px;
}