.main-article {
    font-size: 60px;
    color: red;
    border: 16px dotted green;
}

.article-header {
    
}

.article-content {
    color: inherit;
    border: none;
}

.article-link {
    text-decoration: none;
    color: inherit;
}

.article-span {
    border: inherit;
}