.nav-list {
    margin: 0;
    padding: 0;
    font-size: 0;
}

.list-item {
    list-style-type: none;
    display: inline-block;
    position: relative;
    background-color: rgb(255, 128, 0);
    padding: 20px;
}

.link {
    font-size: 20px;
    color: white;
    text-decoration: none;
    width: 100%;
}

.sub-nav-list {
    position: absolute;
    top: 62px;
    left: 2px;
    width: 175px;
    padding-left: 0;
}

.sub-list-item {
    display: none;
    list-style-type: none;
    background-color: rgb(255, 128, 0);
    padding: 20px;
}

.list-item:hover .sub-list-item {
    display: block;
}

.sub-sub-nav-list {
    position: absolute;
    width: 165px;
    display: block;
    top: 125px;
    left: 135px;
}

.sub-sub-list-item {
    display: none;
    background-color: rgb(255, 128, 0);
    padding: 20px;
}

.sub-list-item:hover .sub-sub-list-item {
    display: block;
}

.sub-sub-sub-nav-list {
    position: absolute;
    display: block;
    width: 165px;
    top: 125px;
    left: 165px;
}

.sub-sub-sub-list-item {
    display: none;
    background-color: rgb(255, 128, 0);
    padding: 20px;
}

.sub-sub-list-item:hover .sub-sub-sub-list-item {
    display: block;
}

.list-item:hover,
.sub-list-item:hover,
.sub-sub-list-item:hover,
.sub-sub-sub-list-item:hover {
    background-color: rgb(255, 81, 0);
}
