p {
    color: blue;
    font-size: 20px;
    border: 1px solid black;
    position: relative;
}

p::before {
    color: red;
    background-color: green;
    width: 50px;
    height: 50px;
    content: "";
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 10px;
    opacity: 0.5;
}

p::after {
    color: green;
    background-color: red;
    width: 50px;
    height: 50px;
    content: "";
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    bottom: 5px;
    right: 10px;
    opacity: 0.5;
}
